{% extends 'homeservices/base.html' %}
{% load static%}
{% block content %}
<div id="wrapper">

	<!-- start header -->
	{% include "homeservices/navbar.html" %}

	<!-- end header -->
	
	<section id="content">
		<div id="headline">
			<h2>About Us</h2>

		</div>
		<div class="container">

			<div class="about">

				<section class="features">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div>
									<h2>Who We Are</h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores
									quae porro consequatur aliquam, incidunt eius magni provident, doloribus omnis minus
									ovident, doloribus omnis minus temporibus perferendis nesciunt..
								</div>
								<br>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div>
									<h2>Our Awesome Features</h2>Lorem ipsum dolor sit amet, consectetur adipisicing
									elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident,
									doloribus omnis minus ovident, doloribus omnis minus temporibus perferendis
									nesciunt..
								</div>
								<br />
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="features-item">
									<div class="features">
										<div class="icon">
											<i class="icon-map icons"></i>
										</div>
										<div class="features-content">
											<h3>Premium Sliders Included</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto quisquam
												id, odit dolore inventore.</p>
										</div>
									</div>
									<div class="features">
										<div class="icon">
											<i class="icon-envelope-open icons"></i>
										</div>
										<div class="features-content">
											<h3>100% Responsive Layout</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto quisquam
												id, odit dolore inventore.</p>
										</div>
									</div>
									<div class="features">
										<div class="icon">
											<i class="icon-badge icons"></i>
										</div>
										<div class="features-content">
											<h3>Support System</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto quisquam
												id, odit dolore inventore.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<img class="img-responsive" src="img/img1.png" alt="">
							</div>
						</div>
					</div>
				</section>
			</div>

		</div>
	</section>

</div>

{% endblock%}