{% extends 'homeservices/base.html' %}
{% load static%}
{% block content %}
<div id="wrapper">

	<!-- start header -->
	{% include "homeservices/navbar.html" %}

	<!-- end header -->
	
	<section id="content">
		<div id="headline">
			<h2>About Us</h2>

		</div>
		<div class="container">

			<div class="about">

				<section class="features">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div>
									<h2>Who We Are</h2>
									<p>A technology based organization which specializes on bringing reliable and professional home oriented services closer to you.</p>
								</div>
								<br>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div>
									<h2>Our Awesome Features</h2>
								
								</div>
								<br />
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="features-item">
									<div class="features">
										<div class="icon">
											<i class="fas fa-users-cog"></i>
										</div>
										<div class="features-content">
											<h3>Services List</h3>
											<p> You can find the service you require in the service list</p>
										</div>
									</div>
									<div class="features">
										<div class="icon">
											<i class="fas fa-map-marked-alt"></i>
										</div>
										<div class="features-content">
											<h3>Geo Location</h3>
											<p>You can only view experts closer to you</p>
										</div>
									</div>
									<div class="features">
										<div class="icon">
											<i class="far fa-comments"></i>
										</div>
										<div class="features-content">
											<h3>Reviews</h3>
											<p>You can review a professional depending on the services he/she delivered. This will help the rest of clients finding the most appropriate professional</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<img class="img-responsive" src="img/img1.png" alt="">
							</div>
						</div>
					</div>
				</section>
			</div>

		</div>
	</section>

</div>

{% endblock%}