<footer>
    <div id="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="copyright">
                        <p>
                            <span>&copy; Home Services 2021 All right reserved. Developed by <a
                                    href="http://webthemez.com/tag/free" target="_blank">Frankfreek</a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
